                            <!-- VIEW CHILD USAGE -->

<!-- <h3 #heading>Example 1: Simple Heading</h3> -->

<!-- <ng-template #template> -->
  <!-- <h3>Example 2: Content inside ng-template</h3> -->
<!-- </ng-template> -->
<!-- ng-template rendering using ng-container -->
<!-- <ng-container *ngTemplateOutlet="template"></ng-container> -->


<!-- <app-child #component>Example 3: Content inside Child Component</app-child> -->

<!-- Last example can be used without variable template reference -->
<!-- <app-child>Example 3: Content inside Child Component</app-child> -->

<!-- example 4 -->
<!-- <h3 #heading>Example 4: Simple Heading</h3>
<app-child #heading>Example 4: Content inside Child Component</app-child> -->

<!-- ======================================================= -->
                               <!-- VIEW CHILDREN USAGE -->
                               
<h3 #heading>Example 1: Simple Heading</h3>

<ng-template #template>
<h3>Example 2: Content inside ng-template</h3>
</ng-template>
<ng-container *ngTemplateOutlet="template"></ng-container>


<app-child #component>Example 3: Content inside Child Component</app-child>

<app-child>Example 3: Content inside Child Component</app-child>

<!-- example 4 -->
<!-- <h3 #heading>Example 4: Simple Heading</h3>
<app-child #heading>Example 4: Content inside Child Component</app-child> -->